.quizz-container {
    width: 80%;
    margin: auto;
}

.quizz-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.quizz-logo img {
    width: 600px;
}

.quizz-logo h3 {
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
}

.quizz-questions {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #352A2D;
    border-radius: 8px;
    background-color: #241a1d;
    font-size: 18pt;
    margin-bottom: 1rem;
}

.quizz-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.quizz-options button {
    width: 40%;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    margin: 0.2rem;
    border-radius: 8px;
    border: 1px solid #ff5082;
    font-size: 14pt;
    padding: 1rem 2rem;
    text-decoration: none;
}

.quizz-options button:hover {
    background-color: #FF5083;
}

.quizz-options button:active {
    position: relative;
    top: 1px;
    background-color: #D7014E;
}

.quizz-results {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #352A2D;
    background-color: #241a1d;
    box-shadow: rgb(247, 8, 89) 0px 0px 0px 3px, rgb(253, 116, 157)0px 0px 0px 6px, rgb(255, 204, 77) 0px 0px 0px 9px;
    border-radius: 10px;
    padding: 2.5rem;
    margin-top: 1rem;
}

.quizz-results p {
    margin-top: 1rem;
    font-size: 15pt;
}

.quizz-results img {
    width: 190px;
    min-width: 70px;
    border-radius: 4px;
    margin-top: 1rem;
}

.quizz-reload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.quizz-reload button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #FE7496;
    border-radius: 2rem;
    padding: 1rem 5rem;
    font-weight: bold;
    color: #ffffff;
}
.quizz-reload button:hover {
    color: #241a1d;
    background-color: #FFCB4C;
    border: 2px solid #FF5082;
}

.quizz-reload button:active {
    position: relative;
    top: 1px;

}
